.background-image {
    background-image: url(../images/star-pic.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
}
.top-page {
    font-family: 'Press Start 2P', cursive;
}

.into .navbar {
    display: inline-block;
}

